.collapse-without-padding{
    .ant-collapse-expand-icon{
        padding-inline-start:0 !important;
        padding-inline-end:12px !important;
    }
    .ant-collapse-content-box{
        padding:0px !important;
    }
    .ant-list-footer{
        padding:4px 0;
    }
    .ant-collapse-header {
        background: #f7f8fa;
        height: 40px;
        border-radius: 4px;
    }
}