:global .ant-tabs.ant-tabs-top{
    height:100%;
    .ant-tabs-content.ant-tabs-content-top{
        height:100%;
        .ant-tabs-tabpane.ant-tabs-tabpane-active{
            height:100%;
        }
    }
}