.api-url-disabled :global(.ant-input-search-button){
    cursor: not-allowed !important;
    border-color: var(--border-color) !important;
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: rgba(0, 0, 0, 0.04) !important;
    box-shadow: none !important;
}