.transfer-table-member,
.transfer-table-api{
    :global .ant-table-wrapper .ant-table-thead >tr>th,
    :global .ant-table-wrapper .ant-table-thead >tr>td{
        font-weight: normal;
        background-color: var(--MAIN_BG);
        border:none;
    }

    :global .ant-table-wrapper .ant-table-tbody-virtual .ant-table-cell{
        border:none;
    }

    :global .rc-virtual-list-scrollbar.rc-virtual-list-scrollbar-horizontal{
        display: none;
    }

    :global .ant-table-wrapper .ant-table-tbody  .ant-table-row > .ant-table-cell-row-hover{
        background: #EBEEF2;
    }

    :global .ant-table-wrapper .ant-table-tbody  .ant-table-row.ant-table-row-selected > .ant-table-cell-row-hover{
        background: #EBEEF2;
    }
    :global .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
        display: none;
    }
}